body {
    margin: 0 auto;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    color: #2979ff
}

.m1 {
    margin: 1 rpx;
}

.m2 {
    margin: 2 rpx;
}

.m3 {
    margin: 3 rpx;
}

.m4 {
    margin: 4 rpx;
}

.m5 {
    margin: 5 rpx;
}

.m6 {
    margin: 6 rpx;
}

.m7 {
    margin: 7 rpx;
}

.m8 {
    margin: 8 rpx;
}

.m9 {
    margin: 9 rpx;
}

.m10 {
    margin: 10 rpx;
}

.m11 {
    margin: 11 rpx;
}

.m12 {
    margin: 12 rpx;
}

.m13 {
    margin: 13 rpx;
}

.m14 {
    margin: 14 rpx;
}

.m15 {
    margin: 15 rpx;
}

.m16 {
    margin: 16 rpx;
}

.m17 {
    margin: 17 rpx;
}

.m18 {
    margin: 18 rpx;
}

.m19 {
    margin: 19 rpx;
}

.m20 {
    margin: 20 rpx;
}

.m25 {
    margin: 25 rpx;
}

.m30 {
    margin: 30 rpx;
}

.m35 {
    margin: 35 rpx;
}

.m40 {
    margin: 40 rpx;
}

.m45 {
    margin: 45 rpx;
}

.m50 {
    margin: 50 rpx;
}

.m55 {
    margin: 55 rpx;
}

.m60 {
    margin: 60 rpx;
}

.m65 {
    margin: 65 rpx;
}

.m70 {
    margin: 70 rpx;
}

.m75 {
    margin: 75 rpx;
}

.m80 {
    margin: 80 rpx;
}

.m85 {
    margin: 85 rpx;
}

.m90 {
    margin: 90 rpx;
}

.m95 {
    margin: 95 rpx;
}

.m100 {
    margin: 100 rpx;
}

.mt1 {
    margin-top: 1 rpx;
}

.mt2 {
    margin-top: 2 rpx;
}

.mt3 {
    margin-top: 3 rpx;
}

.mt4 {
    margin-top: 4 rpx;
}

.mt5 {
    margin-top: 5 rpx;
}

.mt6 {
    margin-top: 6 rpx;
}

.mt7 {
    margin-top: 7 rpx;
}

.mt8 {
    margin-top: 8 rpx;
}

.mt9 {
    margin-top: 9 rpx;
}

.mt10 {
    margin-top: 10 rpx;
}

.mt11 {
    margin-top: 11 rpx;
}

.mt12 {
    margin-top: 12 rpx;
}

.mt13 {
    margin-top: 13 rpx;
}

.mt14 {
    margin-top: 14 rpx;
}

.mt15 {
    margin-top: 15 rpx;
}

.mt16 {
    margin-top: 16 rpx;
}

.mt17 {
    margin-top: 17 rpx;
}

.mt18 {
    margin-top: 18 rpx;
}

.mt19 {
    margin-top: 19 rpx;
}

.mt20 {
    margin-top: 20 rpx;
}

.mt25 {
    margin-top: 25 rpx;
}

.mt30 {
    margin-top: 30 rpx;
}

.mt35 {
    margin-top: 35 rpx;
}

.mt40 {
    margin-top: 40 rpx;
}

.mt45 {
    margin-top: 45 rpx;
}

.mt50 {
    margin-top: 50 rpx;
}

.mt55 {
    margin-top: 55 rpx;
}

.mt60 {
    margin-top: 60 rpx;
}

.mt65 {
    margin-top: 65 rpx;
}

.mt70 {
    margin-top: 70 rpx;
}

.mt75 {
    margin-top: 75 rpx;
}

.mt80 {
    margin-top: 80 rpx;
}

.mt85 {
    margin-top: 85 rpx;
}

.mt90 {
    margin-top: 90 rpx;
}

.mt95 {
    margin-top: 95 rpx;
}

.mt100 {
    margin-top: 100 rpx;
}

.mb1 {
    margin-bottom: 1 rpx;
}

.mb2 {
    margin-bottom: 2 rpx;
}

.mb3 {
    margin-bottom: 3 rpx;
}

.mb4 {
    margin-bottom: 4 rpx;
}

.mb5 {
    margin-bottom: 5 rpx;
}

.mb6 {
    margin-bottom: 6 rpx;
}

.mb7 {
    margin-bottom: 7 rpx;
}

.mb8 {
    margin-bottom: 8 rpx;
}

.mb9 {
    margin-bottom: 9 rpx;
}

.mb10 {
    margin-bottom: 10 rpx;
}

.mb11 {
    margin-bottom: 11 rpx;
}

.mb12 {
    margin-bottom: 12 rpx;
}

.mb13 {
    margin-bottom: 13 rpx;
}

.mb14 {
    margin-bottom: 14 rpx;
}

.mb15 {
    margin-bottom: 15 rpx;
}

.mb16 {
    margin-bottom: 16 rpx;
}

.mb17 {
    margin-bottom: 17 rpx;
}

.mb18 {
    margin-bottom: 18 rpx;
}

.mb19 {
    margin-bottom: 19 rpx;
}

.mb20 {
    margin-bottom: 20 rpx;
}

.mb25 {
    margin-bottom: 25 rpx;
}

.mb30 {
    margin-bottom: 30 rpx;
}

.mb35 {
    margin-bottom: 35 rpx;
}

.mb40 {
    margin-bottom: 40 rpx;
}

.mb45 {
    margin-bottom: 45 rpx;
}

.mb50 {
    margin-bottom: 50 rpx;
}

.mb55 {
    margin-bottom: 55 rpx;
}

.mb60 {
    margin-bottom: 60 rpx;
}

.mb65 {
    margin-bottom: 65 rpx;
}

.mb70 {
    margin-bottom: 70 rpx;
}

.mb75 {
    margin-bottom: 75 rpx;
}

.mb80 {
    margin-bottom: 80 rpx;
}

.mb85 {
    margin-bottom: 85 rpx;
}

.mb90 {
    margin-bottom: 90 rpx;
}

.mb95 {
    margin-bottom: 95 rpx;
}

.mb100 {
    margin-bottom: 100 rpx;
}

.ml1 {
    margin-left: 1 rpx;
}

.ml2 {
    margin-left: 2 rpx;
}

.ml3 {
    margin-left: 3 rpx;
}

.ml4 {
    margin-left: 4 rpx;
}

.ml5 {
    margin-left: 5 rpx;
}

.ml6 {
    margin-left: 6 rpx;
}

.ml7 {
    margin-left: 7 rpx;
}

.ml8 {
    margin-left: 8 rpx;
}

.ml9 {
    margin-left: 9 rpx;
}

.ml10 {
    margin-left: 10 rpx;
}

.ml11 {
    margin-left: 11 rpx;
}

.ml12 {
    margin-left: 12 rpx;
}

.ml13 {
    margin-left: 13 rpx;
}

.ml14 {
    margin-left: 14 rpx;
}

.ml15 {
    margin-left: 15 rpx;
}

.ml16 {
    margin-left: 16 rpx;
}

.ml17 {
    margin-left: 17 rpx;
}

.ml18 {
    margin-left: 18 rpx;
}

.ml19 {
    margin-left: 19 rpx;
}

.ml20 {
    margin-left: 20 rpx;
}

.ml25 {
    margin-left: 25 rpx;
}

.ml30 {
    margin-left: 30 rpx;
}

.ml35 {
    margin-left: 35 rpx;
}

.ml40 {
    margin-left: 40 rpx;
}

.ml45 {
    margin-left: 45 rpx;
}

.ml50 {
    margin-left: 50 rpx;
}

.ml55 {
    margin-left: 55 rpx;
}

.ml60 {
    margin-left: 60 rpx;
}

.ml65 {
    margin-left: 65 rpx;
}

.ml70 {
    margin-left: 70 rpx;
}

.ml75 {
    margin-left: 75 rpx;
}

.ml80 {
    margin-left: 80 rpx;
}

.ml85 {
    margin-left: 85 rpx;
}

.ml90 {
    margin-left: 90 rpx;
}

.ml95 {
    margin-left: 95 rpx;
}

.ml100 {
    margin-left: 100 rpx;
}

.mr1 {
    margin-right: 1 rpx;
}

.mr2 {
    margin-right: 2 rpx;
}

.mr3 {
    margin-right: 3 rpx;
}

.mr4 {
    margin-right: 4 rpx;
}

.mr5 {
    margin-right: 5 rpx;
}

.mr6 {
    margin-right: 6 rpx;
}

.mr7 {
    margin-right: 7 rpx;
}

.mr8 {
    margin-right: 8 rpx;
}

.mr9 {
    margin-right: 9 rpx;
}

.mr10 {
    margin-right: 10 rpx;
}

.mr11 {
    margin-right: 11 rpx;
}

.mr12 {
    margin-right: 12 rpx;
}

.mr13 {
    margin-right: 13 rpx;
}

.mr14 {
    margin-right: 14 rpx;
}

.mr15 {
    margin-right: 15 rpx;
}

.mr16 {
    margin-right: 16 rpx;
}

.mr17 {
    margin-right: 17 rpx;
}

.mr18 {
    margin-right: 18 rpx;
}

.mr19 {
    margin-right: 19 rpx;
}

.mr20 {
    margin-right: 20 rpx;
}

.mr25 {
    margin-right: 25 rpx;
}

.mr30 {
    margin-right: 30 rpx;
}

.mr35 {
    margin-right: 35 rpx;
}

.mr40 {
    margin-right: 40 rpx;
}

.mr45 {
    margin-right: 45 rpx;
}

.mr50 {
    margin-right: 50 rpx;
}

.mr55 {
    margin-right: 55 rpx;
}

.mr60 {
    margin-right: 60 rpx;
}

.mr65 {
    margin-right: 65 rpx;
}

.mr70 {
    margin-right: 70 rpx;
}

.mr75 {
    margin-right: 75 rpx;
}

.mr80 {
    margin-right: 80 rpx;
}

.mr85 {
    margin-right: 85 rpx;
}

.mr90 {
    margin-right: 90 rpx;
}

.mr95 {
    margin-right: 95 rpx;
}

.mr100 {
    margin-right: 100 rpx;
}

.mtb1 {
    margin: 1 rpx 0000 rpx;
}

.mtb2 {
    margin: 2 rpx 0000 rpx;
}

.mtb3 {
    margin: 3 rpx 0000 rpx;
}

.mtb4 {
    margin: 4 rpx 0000 rpx;
}

.mtb5 {
    margin: 5 rpx 0000 rpx;
}

.mtb6 {
    margin: 6 rpx 0000 rpx;
}

.mtb7 {
    margin: 7 rpx 0000 rpx;
}

.mtb8 {
    margin: 8 rpx 0000 rpx;
}

.mtb9 {
    margin: 9 rpx 0000 rpx;
}

.mtb10 {
    margin: 10 rpx 0000 rpx;
}

.mtb11 {
    margin: 11 rpx 0000 rpx;
}

.mtb12 {
    margin: 12 rpx 0000 rpx;
}

.mtb13 {
    margin: 13 rpx 0000 rpx;
}

.mtb14 {
    margin: 14 rpx 0000 rpx;
}

.mtb15 {
    margin: 15 rpx 0000 rpx;
}

.mtb16 {
    margin: 16 rpx 0000 rpx;
}

.mtb17 {
    margin: 17 rpx 0000 rpx;
}

.mtb18 {
    margin: 18 rpx 0000 rpx;
}

.mtb19 {
    margin: 19 rpx 0000 rpx;
}

.mtb20 {
    margin: 20 rpx 0000 rpx;
}

.mtb25 {
    margin: 25 rpx 0000 rpx;
}

.mtb30 {
    margin: 30 rpx 0000 rpx;
}

.mtb35 {
    margin: 35 rpx 0000 rpx;
}

.mtb40 {
    margin: 40 rpx 0000 rpx;
}

.mtb45 {
    margin: 45 rpx 0000 rpx;
}

.mtb50 {
    margin: 50 rpx 0000 rpx;
}

.mtb55 {
    margin: 55 rpx 0000 rpx;
}

.mtb60 {
    margin: 60 rpx 0000 rpx;
}

.mtb65 {
    margin: 65 rpx 0000 rpx;
}

.mtb70 {
    margin: 70 rpx 0000 rpx;
}

.mtb75 {
    margin: 75 rpx 0000 rpx;
}

.mtb80 {
    margin: 80 rpx 0000 rpx;
}

.mtb85 {
    margin: 85 rpx 0000 rpx;
}

.mtb90 {
    margin: 90 rpx 0000 rpx;
}

.mtb95 {
    margin: 95 rpx 0000 rpx;
}

.mtb100 {
    margin: 100 rpx 0000 rpx;
}

.mlr1 {
    margin: 0 1 rpx;
}

.mlr2 {
    margin: 0 2 rpx;
}

.mlr3 {
    margin: 0 3 rpx;
}

.mlr4 {
    margin: 0 4 rpx;
}

.mlr5 {
    margin: 0 5 rpx;
}

.mlr6 {
    margin: 0 6 rpx;
}

.mlr7 {
    margin: 0 7 rpx;
}

.mlr8 {
    margin: 0 8 rpx;
}

.mlr9 {
    margin: 0 9 rpx;
}

.mlr10 {
    margin: 0 10 rpx;
}

.mlr11 {
    margin: 0 11 rpx;
}

.mlr12 {
    margin: 0 12 rpx;
}

.mlr13 {
    margin: 0 13 rpx;
}

.mlr14 {
    margin: 0 14 rpx;
}

.mlr15 {
    margin: 0 15 rpx;
}

.mlr16 {
    margin: 0 16 rpx;
}

.mlr17 {
    margin: 0 17 rpx;
}

.mlr18 {
    margin: 0 18 rpx;
}

.mlr19 {
    margin: 0 19 rpx;
}

.mlr20 {
    margin: 0 20 rpx;
}

.mlr25 {
    margin: 0 25 rpx;
}

.mlr30 {
    margin: 0 30 rpx;
}

.mlr35 {
    margin: 0 35 rpx;
}

.mlr40 {
    margin: 0 40 rpx;
}

.mlr45 {
    margin: 0 45 rpx;
}

.mlr50 {
    margin: 0 50 rpx;
}

.mlr55 {
    margin: 0 55 rpx;
}

.mlr60 {
    margin: 0 60 rpx;
}

.mlr65 {
    margin: 0 65 rpx;
}

.mlr70 {
    margin: 0 70 rpx;
}

.mlr75 {
    margin: 0 75 rpx;
}

.mlr80 {
    margin: 0 80 rpx;
}

.mlr85 {
    margin: 0 85 rpx;
}

.mlr90 {
    margin: 0 90 rpx;
}

.mlr95 {
    margin: 0 95 rpx;
}

.mlr100 {
    margin: 0 100 rpx;
}

.p1 {
    padding: 1 rpx;
}

.p2 {
    padding: 2 rpx;
}

.p3 {
    padding: 3 rpx;
}

.p4 {
    padding: 4 rpx;
}

.p5 {
    padding: 5 rpx;
}

.p6 {
    padding: 6 rpx;
}

.p7 {
    padding: 7 rpx;
}

.p8 {
    padding: 8 rpx;
}

.p9 {
    padding: 9 rpx;
}

.p10 {
    padding: 10 rpx;
}

.p11 {
    padding: 11 rpx;
}

.p12 {
    padding: 12 rpx;
}

.p13 {
    padding: 13 rpx;
}

.p14 {
    padding: 14 rpx;
}

.p15 {
    padding: 15 rpx;
}

.p16 {
    padding: 16 rpx;
}

.p17 {
    padding: 17 rpx;
}

.p18 {
    padding: 18 rpx;
}

.p19 {
    padding: 19 rpx;
}

.p20 {
    padding: 20 rpx;
}

.p25 {
    padding: 25 rpx;
}

.p30 {
    padding: 30 rpx;
}

.p35 {
    padding: 35 rpx;
}

.p40 {
    padding: 40 rpx;
}

.p45 {
    padding: 45 rpx;
}

.p50 {
    padding: 50 rpx;
}

.p55 {
    padding: 55 rpx;
}

.p60 {
    padding: 60 rpx;
}

.p65 {
    padding: 65 rpx;
}

.p70 {
    padding: 70 rpx;
}

.p75 {
    padding: 75 rpx;
}

.p80 {
    padding: 80 rpx;
}

.p85 {
    padding: 85 rpx;
}

.p90 {
    padding: 90 rpx;
}

.p95 {
    padding: 95 rpx;
}

.p100 {
    padding: 100 rpx;
}

.pt1 {
    padding-top: 1 rpx;
}

.pt2 {
    padding-top: 2 rpx;
}

.pt3 {
    padding-top: 3 rpx;
}

.pt4 {
    padding-top: 4 rpx;
}

.pt5 {
    padding-top: 5 rpx;
}

.pt6 {
    padding-top: 6 rpx;
}

.pt7 {
    padding-top: 7 rpx;
}

.pt8 {
    padding-top: 8 rpx;
}

.pt9 {
    padding-top: 9 rpx;
}

.pt10 {
    padding-top: 10 rpx;
}

.pt11 {
    padding-top: 11 rpx;
}

.pt12 {
    padding-top: 12 rpx;
}

.pt13 {
    padding-top: 13 rpx;
}

.pt14 {
    padding-top: 14 rpx;
}

.pt15 {
    padding-top: 15 rpx;
}

.pt16 {
    padding-top: 16 rpx;
}

.pt17 {
    padding-top: 17 rpx;
}

.pt18 {
    padding-top: 18 rpx;
}

.pt19 {
    padding-top: 19 rpx;
}

.pt20 {
    padding-top: 20 rpx;
}

.pt25 {
    padding-top: 25 rpx;
}

.pt30 {
    padding-top: 30 rpx;
}

.pt35 {
    padding-top: 35 rpx;
}

.pt40 {
    padding-top: 40 rpx;
}

.pt45 {
    padding-top: 45 rpx;
}

.pt50 {
    padding-top: 50 rpx;
}

.pt55 {
    padding-top: 55 rpx;
}

.pt60 {
    padding-top: 60 rpx;
}

.pt65 {
    padding-top: 65 rpx;
}

.pt70 {
    padding-top: 70 rpx;
}

.pt75 {
    padding-top: 75 rpx;
}

.pt80 {
    padding-top: 80 rpx;
}

.pt85 {
    padding-top: 85 rpx;
}

.pt90 {
    padding-top: 90 rpx;
}

.pt95 {
    padding-top: 95 rpx;
}

.pt100 {
    padding-top: 100 rpx;
}

.pb1 {
    padding-bottom: 1 rpx;
}

.pb2 {
    padding-bottom: 2 rpx;
}

.pb3 {
    padding-bottom: 3 rpx;
}

.pb4 {
    padding-bottom: 4 rpx;
}

.pb5 {
    padding-bottom: 5 rpx;
}

.pb6 {
    padding-bottom: 6 rpx;
}

.pb7 {
    padding-bottom: 7 rpx;
}

.pb8 {
    padding-bottom: 8 rpx;
}

.pb9 {
    padding-bottom: 9 rpx;
}

.pb10 {
    padding-bottom: 10 rpx;
}

.pb11 {
    padding-bottom: 11 rpx;
}

.pb12 {
    padding-bottom: 12 rpx;
}

.pb13 {
    padding-bottom: 13 rpx;
}

.pb14 {
    padding-bottom: 14 rpx;
}

.pb15 {
    padding-bottom: 15 rpx;
}

.pb16 {
    padding-bottom: 16 rpx;
}

.pb17 {
    padding-bottom: 17 rpx;
}

.pb18 {
    padding-bottom: 18 rpx;
}

.pb19 {
    padding-bottom: 19 rpx;
}

.pb20 {
    padding-bottom: 20 rpx;
}

.pb25 {
    padding-bottom: 25 rpx;
}

.pb30 {
    padding-bottom: 30 rpx;
}

.pb35 {
    padding-bottom: 35 rpx;
}

.pb40 {
    padding-bottom: 40 rpx;
}

.pb45 {
    padding-bottom: 45 rpx;
}

.pb50 {
    padding-bottom: 50 rpx;
}

.pb55 {
    padding-bottom: 55 rpx;
}

.pb60 {
    padding-bottom: 60 rpx;
}

.pb65 {
    padding-bottom: 65 rpx;
}

.pb70 {
    padding-bottom: 70 rpx;
}

.pb75 {
    padding-bottom: 75 rpx;
}

.pb80 {
    padding-bottom: 80 rpx;
}

.pb85 {
    padding-bottom: 85 rpx;
}

.pb90 {
    padding-bottom: 90 rpx;
}

.pb95 {
    padding-bottom: 95 rpx;
}

.pb100 {
    padding-bottom: 100 rpx;
}

.pl1 {
    padding-left: 1 rpx;
}

.pl2 {
    padding-left: 2 rpx;
}

.pl3 {
    padding-left: 3 rpx;
}

.pl4 {
    padding-left: 4 rpx;
}

.pl5 {
    padding-left: 5 rpx;
}

.pl6 {
    padding-left: 6 rpx;
}

.pl7 {
    padding-left: 7 rpx;
}

.pl8 {
    padding-left: 8 rpx;
}

.pl9 {
    padding-left: 9 rpx;
}

.pl10 {
    padding-left: 10 rpx;
}

.pl11 {
    padding-left: 11 rpx;
}

.pl12 {
    padding-left: 12 rpx;
}

.pl13 {
    padding-left: 13 rpx;
}

.pl14 {
    padding-left: 14 rpx;
}

.pl15 {
    padding-left: 15 rpx;
}

.pl16 {
    padding-left: 16 rpx;
}

.pl17 {
    padding-left: 17 rpx;
}

.pl18 {
    padding-left: 18 rpx;
}

.pl19 {
    padding-left: 19 rpx;
}

.pl20 {
    padding-left: 20 rpx;
}

.pl25 {
    padding-left: 25 rpx;
}

.pl30 {
    padding-left: 30 rpx;
}

.pl35 {
    padding-left: 35 rpx;
}

.pl40 {
    padding-left: 40 rpx;
}

.pl45 {
    padding-left: 45 rpx;
}

.pl50 {
    padding-left: 50 rpx;
}

.pl55 {
    padding-left: 55 rpx;
}

.pl60 {
    padding-left: 60 rpx;
}

.pl65 {
    padding-left: 65 rpx;
}

.pl70 {
    padding-left: 70 rpx;
}

.pl75 {
    padding-left: 75 rpx;
}

.pl80 {
    padding-left: 80 rpx;
}

.pl85 {
    padding-left: 85 rpx;
}

.pl90 {
    padding-left: 90 rpx;
}

.pl95 {
    padding-left: 95 rpx;
}

.pl100 {
    padding-left: 100 rpx;
}

.pr1 {
    padding-right: 1 rpx;
}

.pr2 {
    padding-right: 2 rpx;
}

.pr3 {
    padding-right: 3 rpx;
}

.pr4 {
    padding-right: 4 rpx;
}

.pr5 {
    padding-right: 5 rpx;
}

.pr6 {
    padding-right: 6 rpx;
}

.pr7 {
    padding-right: 7 rpx;
}

.pr8 {
    padding-right: 8 rpx;
}

.pr9 {
    padding-right: 9 rpx;
}

.pr10 {
    padding-right: 10 rpx;
}

.pr11 {
    padding-right: 11 rpx;
}

.pr12 {
    padding-right: 12 rpx;
}

.pr13 {
    padding-right: 13 rpx;
}

.pr14 {
    padding-right: 14 rpx;
}

.pr15 {
    padding-right: 15 rpx;
}

.pr16 {
    padding-right: 16 rpx;
}

.pr17 {
    padding-right: 17 rpx;
}

.pr18 {
    padding-right: 18 rpx;
}

.pr19 {
    padding-right: 19 rpx;
}

.pr20 {
    padding-right: 20 rpx;
}

.pr25 {
    padding-right: 25 rpx;
}

.pr30 {
    padding-right: 30 rpx;
}

.pr35 {
    padding-right: 35 rpx;
}

.pr40 {
    padding-right: 40 rpx;
}

.pr45 {
    padding-right: 45 rpx;
}

.pr50 {
    padding-right: 50 rpx;
}

.pr55 {
    padding-right: 55 rpx;
}

.pr60 {
    padding-right: 60 rpx;
}

.pr65 {
    padding-right: 65 rpx;
}

.pr70 {
    padding-right: 70 rpx;
}

.pr75 {
    padding-right: 75 rpx;
}

.pr80 {
    padding-right: 80 rpx;
}

.pr85 {
    padding-right: 85 rpx;
}

.pr90 {
    padding-right: 90 rpx;
}

.pr95 {
    padding-right: 95 rpx;
}

.pr100 {
    padding-right: 100 rpx;
}

.ptb1 {
    padding: 1 rpx 0000 rpx;
}

.ptb2 {
    padding: 2 rpx 0000 rpx;
}

.ptb3 {
    padding: 3 rpx 0000 rpx;
}

.ptb4 {
    padding: 4 rpx 0000 rpx;
}

.ptb5 {
    padding: 5 rpx 0000 rpx;
}

.ptb6 {
    padding: 6 rpx 0000 rpx;
}

.ptb7 {
    padding: 7 rpx 0000 rpx;
}

.ptb8 {
    padding: 8 rpx 0000 rpx;
}

.ptb9 {
    padding: 9 rpx 0000 rpx;
}

.ptb10 {
    padding: 10 rpx 0000 rpx;
}

.ptb11 {
    padding: 11 rpx 0000 rpx;
}

.ptb12 {
    padding: 12 rpx 0000 rpx;
}

.ptb13 {
    padding: 13 rpx 0000 rpx;
}

.ptb14 {
    padding: 14 rpx 0000 rpx;
}

.ptb15 {
    padding: 15 rpx 0000 rpx;
}

.ptb16 {
    padding: 16 rpx 0000 rpx;
}

.ptb17 {
    padding: 17 rpx 0000 rpx;
}

.ptb18 {
    padding: 18 rpx 0000 rpx;
}

.ptb19 {
    padding: 19 rpx 0000 rpx;
}

.ptb20 {
    padding: 20 rpx 0000 rpx;
}

.ptb25 {
    padding: 25 rpx 0000 rpx;
}

.ptb30 {
    padding: 30 rpx 0000 rpx;
}

.ptb35 {
    padding: 35 rpx 0000 rpx;
}

.ptb40 {
    padding: 40 rpx 0000 rpx;
}

.ptb45 {
    padding: 45 rpx 0000 rpx;
}

.ptb50 {
    padding: 50 rpx 0000 rpx;
}

.ptb55 {
    padding: 55 rpx 0000 rpx;
}

.ptb60 {
    padding: 60 rpx 0000 rpx;
}

.ptb65 {
    padding: 65 rpx 0000 rpx;
}

.ptb70 {
    padding: 70 rpx 0000 rpx;
}

.ptb75 {
    padding: 75 rpx 0000 rpx;
}

.ptb80 {
    padding: 80 rpx 0000 rpx;
}

.ptb85 {
    padding: 85 rpx 0000 rpx;
}

.ptb90 {
    padding: 90 rpx 0000 rpx;
}

.ptb95 {
    padding: 95 rpx 0000 rpx;
}

.ptb100 {
    padding: 100 rpx 0000 rpx;
}

.plr1 {
    padding: 0 1 rpx;
}

.plr2 {
    padding: 0 2 rpx;
}

.plr3 {
    padding: 0 3 rpx;
}

.plr4 {
    padding: 0 4 rpx;
}

.plr5 {
    padding: 0 5 rpx;
}

.plr6 {
    padding: 0 6 rpx;
}

.plr7 {
    padding: 0 7 rpx;
}

.plr8 {
    padding: 0 8 rpx;
}

.plr9 {
    padding: 0 9 rpx;
}

.plr10 {
    padding: 0 10 rpx;
}

.plr11 {
    padding: 0 11 rpx;
}

.plr12 {
    padding: 0 12 rpx;
}

.plr13 {
    padding: 0 13 rpx;
}

.plr14 {
    padding: 0 14 rpx;
}

.plr15 {
    padding: 0 15 rpx;
}

.plr16 {
    padding: 0 16 rpx;
}

.plr17 {
    padding: 0 17 rpx;
}

.plr18 {
    padding: 0 18 rpx;
}

.plr19 {
    padding: 0 19 rpx;
}

.plr20 {
    padding: 0 20 rpx;
}

.plr25 {
    padding: 0 25 rpx;
}

.plr30 {
    padding: 0 30 rpx;
}

.plr35 {
    padding: 0 35 rpx;
}

.plr40 {
    padding: 0 40 rpx;
}

.plr45 {
    padding: 0 45 rpx;
}

.plr50 {
    padding: 0 50 rpx;
}

.plr55 {
    padding: 0 55 rpx;
}

.plr60 {
    padding: 0 60 rpx;
}

.plr65 {
    padding: 0 65 rpx;
}

.plr70 {
    padding: 0 70 rpx;
}

.plr75 {
    padding: 0 75 rpx;
}

.plr80 {
    padding: 0 80 rpx;
}

.plr85 {
    padding: 0 85 rpx;
}

.plr90 {
    padding: 0 90 rpx;
}

.plr95 {
    padding: 0 95 rpx;
}

.plr100 {
    padding: 0 100 rpx;
}

.font10 {
    font-size: 10 rpx;
}

.font11 {
    font-size: 11 rpx;
}

.font12 {
    font-size: 12 rpx;
}

.font13 {
    font-size: 13 rpx;
}

.font14 {
    font-size: 14 rpx;
}

.font15 {
    font-size: 15 rpx;
}

.font16 {
    font-size: 16 rpx;
}

.font17 {
    font-size: 17 rpx;
}

.font18 {
    font-size: 18 rpx;
}

.font19 {
    font-size: 19 rpx;
}

.font20 {
    font-size: 20 rpx;
}

.font21 {
    font-size: 21 rpx;
}

.font22 {
    font-size: 22 rpx;
}

.font23 {
    font-size: 23 rpx;
}

.font24 {
    font-size: 24 rpx;
}

.font25 {
    font-size: 25 rpx;
}

.font26 {
    font-size: 26 rpx;
}

.font27 {
    font-size: 27 rpx;
}

.font28 {
    font-size: 28 rpx;
}

.font29 {
    font-size: 29 rpx;
}

.font30 {
    font-size: 30 rpx;
}

.font31 {
    font-size: 31 rpx;
}

.font32 {
    font-size: 32 rpx;
}

.font33 {
    font-size: 33 rpx;
}

.font34 {
    font-size: 34 rpx;
}

.font35 {
    font-size: 35 rpx;
}

.font36 {
    font-size: 36 rpx;
}

.font37 {
    font-size: 37 rpx;
}

.font38 {
    font-size: 38 rpx;
}

.font39 {
    font-size: 39 rpx;
}

.font40 {
    font-size: 40 rpx;
}

.w0 {
    width: 100%;
}

.h0 {
    height: 100%;
}

.w010 {
    width: 10%;
}

.h010 {
    height: 10%;
}

.w011 {
    width: 11%;
}

.h011 {
    height: 11%;
}

.w012 {
    width: 12%;
}

.h012 {
    height: 12%;
}

.w013 {
    width: 13%;
}

.h013 {
    height: 13%;
}

.w014 {
    width: 14%;
}

.h014 {
    height: 14%;
}

.w015 {
    width: 15%;
}

.h015 {
    height: 15%;
}

.w016 {
    width: 16%;
}

.h016 {
    height: 16%;
}

.w017 {
    width: 17%;
}

.h017 {
    height: 17%;
}

.w018 {
    width: 18%;
}

.h018 {
    height: 18%;
}

.w019 {
    width: 19%;
}

.h019 {
    height: 19%;
}

.w020 {
    width: 20%;
}

.h020 {
    height: 20%;
}

.w021 {
    width: 21%;
}

.h021 {
    height: 21%;
}

.w022 {
    width: 22%;
}

.h022 {
    height: 22%;
}

.w023 {
    width: 23%;
}

.h023 {
    height: 23%;
}

.w024 {
    width: 24%;
}

.h024 {
    height: 24%;
}

.w025 {
    width: 25%;
}

.h025 {
    height: 25%;
}

.w026 {
    width: 26%;
}

.h026 {
    height: 26%;
}

.w027 {
    width: 27%;
}

.h027 {
    height: 27%;
}

.w028 {
    width: 28%;
}

.h028 {
    height: 28%;
}

.w029 {
    width: 29%;
}

.h029 {
    height: 29%;
}

.w030 {
    width: 30%;
}

.h030 {
    height: 30%;
}

.w031 {
    width: 31%;
}

.h031 {
    height: 31%;
}

.w032 {
    width: 32%;
}

.h032 {
    height: 32%;
}

.w033 {
    width: 33%;
}

.h033 {
    height: 33%;
}

.w034 {
    width: 34%;
}

.h034 {
    height: 34%;
}

.w035 {
    width: 35%;
}

.h035 {
    height: 35%;
}

.w036 {
    width: 36%;
}

.h036 {
    height: 36%;
}

.w037 {
    width: 37%;
}

.h037 {
    height: 37%;
}

.w038 {
    width: 38%;
}

.h038 {
    height: 38%;
}

.w039 {
    width: 39%;
}

.h039 {
    height: 39%;
}

.w040 {
    width: 40%;
}

.h040 {
    height: 40%;
}

.w041 {
    width: 41%;
}

.h041 {
    height: 41%;
}

.w042 {
    width: 42%;
}

.h042 {
    height: 42%;
}

.w043 {
    width: 43%;
}

.h043 {
    height: 43%;
}

.w044 {
    width: 44%;
}

.h044 {
    height: 44%;
}

.w045 {
    width: 45%;
}

.h045 {
    height: 45%;
}

.w046 {
    width: 46%;
}

.h046 {
    height: 46%;
}

.w047 {
    width: 47%;
}

.h047 {
    height: 47%;
}

.w048 {
    width: 48%;
}

.h048 {
    height: 48%;
}

.w049 {
    width: 49%;
}

.h049 {
    height: 49%;
}

.w050 {
    width: 50%;
}

.h050 {
    height: 50%;
}

.w051 {
    width: 51%;
}

.h051 {
    height: 51%;
}

.w052 {
    width: 52%;
}

.h052 {
    height: 52%;
}

.w053 {
    width: 53%;
}

.h053 {
    height: 53%;
}

.w054 {
    width: 54%;
}

.h054 {
    height: 54%;
}

.w055 {
    width: 55%;
}

.h055 {
    height: 55%;
}

.w056 {
    width: 56%;
}

.h056 {
    height: 56%;
}

.w057 {
    width: 57%;
}

.h057 {
    height: 57%;
}

.w058 {
    width: 58%;
}

.h058 {
    height: 58%;
}

.w059 {
    width: 59%;
}

.h059 {
    height: 59%;
}

.w060 {
    width: 60%;
}

.h060 {
    height: 60%;
}

.w061 {
    width: 61%;
}

.h061 {
    height: 61%;
}

.w062 {
    width: 62%;
}

.h062 {
    height: 62%;
}

.w063 {
    width: 63%;
}

.h063 {
    height: 63%;
}

.w064 {
    width: 64%;
}

.h064 {
    height: 64%;
}

.w065 {
    width: 65%;
}

.h065 {
    height: 65%;
}

.w066 {
    width: 66%;
}

.h066 {
    height: 66%;
}

.w067 {
    width: 67%;
}

.h067 {
    height: 67%;
}

.w068 {
    width: 68%;
}

.h068 {
    height: 68%;
}

.w069 {
    width: 69%;
}

.h069 {
    height: 69%;
}

.w070 {
    width: 70%;
}

.h070 {
    height: 70%;
}

.w071 {
    width: 71%;
}

.h071 {
    height: 71%;
}

.w072 {
    width: 72%;
}

.h072 {
    height: 72%;
}

.w073 {
    width: 73%;
}

.h073 {
    height: 73%;
}

.w074 {
    width: 74%;
}

.h074 {
    height: 74%;
}

.w075 {
    width: 75%;
}

.h075 {
    height: 75%;
}

.w076 {
    width: 76%;
}

.h076 {
    height: 76%;
}

.w077 {
    width: 77%;
}

.h077 {
    height: 77%;
}

.w078 {
    width: 78%;
}

.h078 {
    height: 78%;
}

.w079 {
    width: 79%;
}

.h079 {
    height: 79%;
}

.w080 {
    width: 80%;
}

.h080 {
    height: 80%;
}

.w081 {
    width: 81%;
}

.h081 {
    height: 81%;
}

.w082 {
    width: 82%;
}

.h082 {
    height: 82%;
}

.w083 {
    width: 83%;
}

.h083 {
    height: 83%;
}

.w084 {
    width: 84%;
}

.h084 {
    height: 84%;
}

.w085 {
    width: 85%;
}

.h085 {
    height: 85%;
}

.w086 {
    width: 86%;
}

.h086 {
    height: 86%;
}

.w087 {
    width: 87%;
}

.h087 {
    height: 87%;
}

.w088 {
    width: 88%;
}

.h088 {
    height: 88%;
}

.w089 {
    width: 89%;
}

.h089 {
    height: 89%;
}

.w090 {
    width: 90%;
}

.h090 {
    height: 90%;
}

.w091 {
    width: 91%;
}

.h091 {
    height: 91%;
}

.w092 {
    width: 92%;
}

.h092 {
    height: 92%;
}

.w093 {
    width: 93%;
}

.h093 {
    height: 93%;
}

.w094 {
    width: 94%;
}

.h094 {
    height: 94%;
}

.w095 {
    width: 95%;
}

.h095 {
    height: 95%;
}

.w096 {
    width: 96%;
}

.h096 {
    height: 96%;
}

.w097 {
    width: 97%;
}

.h097 {
    height: 97%;
}

.w098 {
    width: 98%;
}

.h098 {
    height: 98%;
}

.w099 {
    width: 99%;
}

.h099 {
    height: 99%;
}

.w0100 {
    width: 100%;
}

.h0100 {
    height: 100%;
}

.w10 {
    width: 10 rpx;
}

.h10 {
    height: 10 rpx;
}

.w11 {
    width: 11 rpx;
}

.h11 {
    height: 11 rpx;
}

.w12 {
    width: 12 rpx;
}

.h12 {
    height: 12 rpx;
}

.w13 {
    width: 13 rpx;
}

.h13 {
    height: 13 rpx;
}

.w14 {
    width: 14 rpx;
}

.h14 {
    height: 14 rpx;
}

.w15 {
    width: 15 rpx;
}

.h15 {
    height: 15 rpx;
}

.w16 {
    width: 16 rpx;
}

.h16 {
    height: 16 rpx;
}

.w17 {
    width: 17 rpx;
}

.h17 {
    height: 17 rpx;
}

.w18 {
    width: 18 rpx;
}

.h18 {
    height: 18 rpx;
}

.w19 {
    width: 19 rpx;
}

.h19 {
    height: 19 rpx;
}

.w20 {
    width: 20 rpx;
}

.h20 {
    height: 20 rpx;
}

.w21 {
    width: 21 rpx;
}

.h21 {
    height: 21 rpx;
}

.w22 {
    width: 22 rpx;
}

.h22 {
    height: 22 rpx;
}

.w23 {
    width: 23 rpx;
}

.h23 {
    height: 23 rpx;
}

.w24 {
    width: 24 rpx;
}

.h24 {
    height: 24 rpx;
}

.w25 {
    width: 25 rpx;
}

.h25 {
    height: 25 rpx;
}

.w26 {
    width: 26 rpx;
}

.h26 {
    height: 26 rpx;
}

.w27 {
    width: 27 rpx;
}

.h27 {
    height: 27 rpx;
}

.w28 {
    width: 28 rpx;
}

.h28 {
    height: 28 rpx;
}

.w29 {
    width: 29 rpx;
}

.h29 {
    height: 29 rpx;
}

.w30 {
    width: 30 rpx;
}

.h30 {
    height: 30 rpx;
}

.w31 {
    width: 31 rpx;
}

.h31 {
    height: 31 rpx;
}

.w32 {
    width: 32 rpx;
}

.h32 {
    height: 32 rpx;
}

.w33 {
    width: 33 rpx;
}

.h33 {
    height: 33 rpx;
}

.w34 {
    width: 34 rpx;
}

.h34 {
    height: 34 rpx;
}

.w35 {
    width: 35 rpx;
}

.h35 {
    height: 35 rpx;
}

.w36 {
    width: 36 rpx;
}

.h36 {
    height: 36 rpx;
}

.w37 {
    width: 37 rpx;
}

.h37 {
    height: 37 rpx;
}

.w38 {
    width: 38 rpx;
}

.h38 {
    height: 38 rpx;
}

.w39 {
    width: 39 rpx;
}

.h39 {
    height: 39 rpx;
}

.w40 {
    width: 40 rpx;
}

.h40 {
    height: 40 rpx;
}

.w41 {
    width: 41 rpx;
}

.h41 {
    height: 41 rpx;
}

.w42 {
    width: 42 rpx;
}

.h42 {
    height: 42 rpx;
}

.w43 {
    width: 43 rpx;
}

.h43 {
    height: 43 rpx;
}

.w44 {
    width: 44 rpx;
}

.h44 {
    height: 44 rpx;
}

.w45 {
    width: 45 rpx;
}

.h45 {
    height: 45 rpx;
}

.w46 {
    width: 46 rpx;
}

.h46 {
    height: 46 rpx;
}

.w47 {
    width: 47 rpx;
}

.h47 {
    height: 47 rpx;
}

.w48 {
    width: 48 rpx;
}

.h48 {
    height: 48 rpx;
}

.w49 {
    width: 49 rpx;
}

.h49 {
    height: 49 rpx;
}

.w50 {
    width: 50 rpx;
}

.h50 {
    height: 50 rpx;
}

.w51 {
    width: 51 rpx;
}

.h51 {
    height: 51 rpx;
}

.w52 {
    width: 52 rpx;
}

.h52 {
    height: 52 rpx;
}

.w53 {
    width: 53 rpx;
}

.h53 {
    height: 53 rpx;
}

.w54 {
    width: 54 rpx;
}

.h54 {
    height: 54 rpx;
}

.w55 {
    width: 55 rpx;
}

.h55 {
    height: 55 rpx;
}

.w56 {
    width: 56 rpx;
}

.h56 {
    height: 56 rpx;
}

.w57 {
    width: 57 rpx;
}

.h57 {
    height: 57 rpx;
}

.w58 {
    width: 58 rpx;
}

.h58 {
    height: 58 rpx;
}

.w59 {
    width: 59 rpx;
}

.h59 {
    height: 59 rpx;
}

.w60 {
    width: 60 rpx;
}

.h60 {
    height: 60 rpx;
}

.w61 {
    width: 61 rpx;
}

.h61 {
    height: 61 rpx;
}

.w62 {
    width: 62 rpx;
}

.h62 {
    height: 62 rpx;
}

.w63 {
    width: 63 rpx;
}

.h63 {
    height: 63 rpx;
}

.w64 {
    width: 64 rpx;
}

.h64 {
    height: 64 rpx;
}

.w65 {
    width: 65 rpx;
}

.h65 {
    height: 65 rpx;
}

.w66 {
    width: 66 rpx;
}

.h66 {
    height: 66 rpx;
}

.w67 {
    width: 67 rpx;
}

.h67 {
    height: 67 rpx;
}

.w68 {
    width: 68 rpx;
}

.h68 {
    height: 68 rpx;
}

.w69 {
    width: 69 rpx;
}

.h69 {
    height: 69 rpx;
}

.w70 {
    width: 70 rpx;
}

.h70 {
    height: 70 rpx;
}

.w71 {
    width: 71 rpx;
}

.h71 {
    height: 71 rpx;
}

.w72 {
    width: 72 rpx;
}

.h72 {
    height: 72 rpx;
}

.w73 {
    width: 73 rpx;
}

.h73 {
    height: 73 rpx;
}

.w74 {
    width: 74 rpx;
}

.h74 {
    height: 74 rpx;
}

.w75 {
    width: 75 rpx;
}

.h75 {
    height: 75 rpx;
}

.w76 {
    width: 76 rpx;
}

.h76 {
    height: 76 rpx;
}

.w77 {
    width: 77 rpx;
}

.h77 {
    height: 77 rpx;
}

.w78 {
    width: 78 rpx;
}

.h78 {
    height: 78 rpx;
}

.w79 {
    width: 79 rpx;
}

.h79 {
    height: 79 rpx;
}

.w80 {
    width: 80 rpx;
}

.h80 {
    height: 80 rpx;
}

.w81 {
    width: 81 rpx;
}

.h81 {
    height: 81 rpx;
}

.w82 {
    width: 82 rpx;
}

.h82 {
    height: 82 rpx;
}

.w83 {
    width: 83 rpx;
}

.h83 {
    height: 83 rpx;
}

.w84 {
    width: 84 rpx;
}

.h84 {
    height: 84 rpx;
}

.w85 {
    width: 85 rpx;
}

.h85 {
    height: 85 rpx;
}

.w86 {
    width: 86 rpx;
}

.h86 {
    height: 86 rpx;
}

.w87 {
    width: 87 rpx;
}

.h87 {
    height: 87 rpx;
}

.w88 {
    width: 88 rpx;
}

.h88 {
    height: 88 rpx;
}

.w89 {
    width: 89 rpx;
}

.h89 {
    height: 89 rpx;
}

.w90 {
    width: 90 rpx;
}

.h90 {
    height: 90 rpx;
}

.w91 {
    width: 91 rpx;
}

.h91 {
    height: 91 rpx;
}

.w92 {
    width: 92 rpx;
}

.h92 {
    height: 92 rpx;
}

.w93 {
    width: 93 rpx;
}

.h93 {
    height: 93 rpx;
}

.w94 {
    width: 94 rpx;
}

.h94 {
    height: 94 rpx;
}

.w95 {
    width: 95 rpx;
}

.h95 {
    height: 95 rpx;
}

.w96 {
    width: 96 rpx;
}

.h96 {
    height: 96 rpx;
}

.w97 {
    width: 97 rpx;
}

.h97 {
    height: 97 rpx;
}

.w98 {
    width: 98 rpx;
}

.h98 {
    height: 98 rpx;
}

.w99 {
    width: 99 rpx;
}

.h99 {
    height: 99 rpx;
}

.w100 {
    width: 100 rpx;
}

.h100 {
    height: 100 rpx;
}

.w110 {
    width: 110 rpx;
}

.h110 {
    height: 110 rpx;
}

.w120 {
    width: 120 rpx;
}

.h120 {
    height: 120 rpx;
}

.w130 {
    width: 130 rpx;
}

.h130 {
    height: 130 rpx;
}

.w140 {
    width: 140 rpx;
}

.h140 {
    height: 140 rpx;
}

.w150 {
    width: 150 rpx;
}

.h150 {
    height: 150 rpx;
}

.w160 {
    width: 160 rpx;
}

.h160 {
    height: 160 rpx;
}

.w170 {
    width: 170 rpx;
}

.h170 {
    height: 170 rpx;
}

.w180 {
    width: 180 rpx;
}

.h180 {
    height: 180 rpx;
}

.w190 {
    width: 190 rpx;
}

.h190 {
    height: 190 rpx;
}

.w200 {
    width: 200 rpx;
}

.h200 {
    height: 200 rpx;
}

.w210 {
    width: 210 rpx;
}

.h210 {
    height: 210 rpx;
}

.w220 {
    width: 220 rpx;
}

.h220 {
    height: 220 rpx;
}

.w230 {
    width: 230 rpx;
}

.h230 {
    height: 230 rpx;
}

.w240 {
    width: 240 rpx;
}

.h240 {
    height: 240 rpx;
}

.w250 {
    width: 250 rpx;
}

.h250 {
    height: 250 rpx;
}

.w260 {
    width: 260 rpx;
}

.h260 {
    height: 260 rpx;
}

.w270 {
    width: 270 rpx;
}

.h270 {
    height: 270 rpx;
}

.w280 {
    width: 280 rpx;
}

.h280 {
    height: 280 rpx;
}

.w290 {
    width: 290 rpx;
}

.h290 {
    height: 290 rpx;
}

.w300 {
    width: 300 rpx;
}

.h300 {
    height: 300 rpx;
}

.w310 {
    width: 310 rpx;
}

.h310 {
    height: 310 rpx;
}

.w320 {
    width: 320 rpx;
}

.h320 {
    height: 320 rpx;
}

.w330 {
    width: 330 rpx;
}

.h330 {
    height: 330 rpx;
}

.w340 {
    width: 340 rpx;
}

.h340 {
    height: 340 rpx;
}

.w350 {
    width: 350 rpx;
}

.h350 {
    height: 350 rpx;
}

.w360 {
    width: 360 rpx;
}

.h360 {
    height: 360 rpx;
}

.w370 {
    width: 370 rpx;
}

.h370 {
    height: 370 rpx;
}

.w380 {
    width: 380 rpx;
}

.h380 {
    height: 380 rpx;
}

.w390 {
    width: 390 rpx;
}

.h390 {
    height: 390 rpx;
}

.w400 {
    width: 400 rpx;
}

.h400 {
    height: 400 rpx;
}

.w410 {
    width: 410 rpx;
}

.h410 {
    height: 410 rpx;
}

.w420 {
    width: 420 rpx;
}

.h420 {
    height: 420 rpx;
}

.w430 {
    width: 430 rpx;
}

.h430 {
    height: 430 rpx;
}

.w440 {
    width: 440 rpx;
}

.h440 {
    height: 440 rpx;
}

.w450 {
    width: 450 rpx;
}

.h450 {
    height: 450 rpx;
}

.w460 {
    width: 460 rpx;
}

.h460 {
    height: 460 rpx;
}

.w470 {
    width: 470 rpx;
}

.h470 {
    height: 470 rpx;
}

.w480 {
    width: 480 rpx;
}

.h480 {
    height: 480 rpx;
}

.w490 {
    width: 490 rpx;
}

.h490 {
    height: 490 rpx;
}

.w500 {
    width: 500 rpx;
}

.h500 {
    height: 500 rpx;
}

.w550 {
    width: 550 rpx;
}

.h550 {
    height: 550 rpx;
}

.w600 {
    width: 600 rpx;
}

.h600 {
    height: 600 rpx;
}

.w650 {
    width: 650 rpx;
}

.h650 {
    height: 650 rpx;
}

.w700 {
    width: 700 rpx;
}

.h700 {
    height: 700 rpx;
}

.w750 {
    width: 750 rpx;
}

.h750 {
    height: 750 rpx;
}

.w800 {
    width: 800 rpx;
}

.h800 {
    height: 800 rpx;
}

.w850 {
    width: 850 rpx;
}

.h850 {
    height: 850 rpx;
}

.w900 {
    width: 900 rpx;
}

.h900 {
    height: 900 rpx;
}

.w950 {
    width: 950 rpx;
}

.h950 {
    height: 950 rpx;
}

.w1000 {
    width: 1000 rpx;
}

.h1000 {
    height: 1000 rpx;
}

.w1050 {
    width: 1050 rpx;
}

.h1050 {
    height: 1050 rpx;
}

.w1100 {
    width: 1100 rpx;
}

.h1100 {
    height: 1100 rpx;
}

.w1150 {
    width: 1150 rpx;
}

.h1150 {
    height: 1150 rpx;
}

.w1200 {
    width: 1200 rpx;
}

.h1200 {
    height: 1200 rpx;
}

.flex {
    display: flex
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.flex6 {
    flex: 6;
}

.flex7 {
    flex: 7;
}

.flex8 {
    flex: 8;
}

.flex9 {
    flex: 9;
}

.flex10 {
    flex: 10;
}

.flex11 {
    flex: 11;
}

.flex12 {
    flex: 12;
}

.white-color {
    color: #ffffff;
}

.black-color {
    color: #000000;
}

.red-color {
    color: #ff0000;
}

.gray-color {
    color: #808080;
}

.blue-color {
    color: #0000ff;
}

.blue-light-color {
    color: #2979ff;
}

.main-color {
    color: #303133;
}

.content-color {
    color: #606266;
}

.tips-color {
    color: #909399;
}

.light-color {
    color: #c0c4cc;
}

.bg {
    background: #f3f4f6;
}

.bg-gray {
    background: #808080;
}

.bg-error {
    background: #fa3534;
}

.bg-primary {
    background: #2979ff;
}

.bg-warning {
    background: #ff9900;
}

.bg-info {
    background: #909399;
}

.bg-success {
    background: #19be6b;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-line1 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-line2 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.text-line3 {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.show {
    display: block;
}

.hide {
    display: none;
}